<div class="layout-footer">

    <span class="font-medium ml-2">
      <img style="vertical-align:unset;" src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'marca-inusual-cut-dark' : 'marca-inusual-cut-white'}}.png" alt="logo" height="25">
    </span>

      &nbsp;&nbsp;&nbsp;
    <small>
      <a class="redes" href="https://www.facebook.com" target="_blank">
        <i title="Facebook" class="pi pi-facebook" style="color: blue"></i>
      </a>
      &nbsp;
      <a class="redes" href="https://www.twitter.com" target="_blank">
        <i title="Twitter" class="pi pi-twitter" style="color: lightskyblue"></i>
      </a>
      &nbsp;
      <a class="redes" href="https://www.instagram.com" target="_blank">
        <i title="Instagram" class="pi pi-instagram" style="color: rgb(255, 0, 157)"></i>
      </a>
      &nbsp;
      <a class="redes" href="https://www.whatsapp.com" target="_blank">
        <i title="Instagram" class="pi pi-whatsapp" style="color: green"></i>
      </a>
    </small>
</div>



