<style>
   .container {
      background-color: rgb(255, 255, 255);
      padding: 20px;
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      height: auto;
      padding: 48px;
      width: 100%;
      max-width: none;
   }
</style>

<div class="container">
   <div class="principal">
      <p-card style="border-radius: 12px">
         <ng-template pTemplate="header">
            <img style="border-top-left-radius: 5px; border-top-right-radius: 5px" alt="Card" src="..\..\assets\layout\images\06 Banners_Mesa de trabajo 1 copia 10.png" />
         </ng-template>
      </p-card>
   </div>

   <div class="row">
      <div class="col-md-6 principal">
         <p-card>
            <ng-template pTemplate="header">
               <img style="border-top-left-radius: 5px; border-top-right-radius: 5px" alt="Card" src="..\..\assets\layout\images\06 Banners_Mesa de trabajo 1 copia 5.png" />
            </ng-template>
         </p-card>
      </div>

      <div class="col-md-6 principal">
         <p-card>
            <ng-template pTemplate="header">
               <img style="border-top-left-radius: 5px; border-top-right-radius: 5px" alt="Card" src="..\..\assets\layout\images\06 Banners_Mesa de trabajo 1 copia 9.png" />
            </ng-template>
         </p-card>
      </div>
   </div>
</div>
