<style>
   .img-container {
      width: 100%;
      text-align: center;
   }

   img {
      width: 250px !important;
   }
</style>

<div class="layout-topbar" style="padding: 0px !important">
   <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()" style="margin-right: 50px">
      <i class="pi pi-bars"></i>
   </button>
   <div class="img-container">
      <img src="../../assets/layout/images/Isologotipo Degradado Hotizontal (4) (1).png" alt="" />
   </div>
   <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
      <i class="pi pi-ellipsis-v"></i>
   </button>

   <div
      #topbarmenu
      class="layout-topbar-menu"
      [ngClass]="{
         'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible
      }"
   >
      <button class="p-link layout-topbar-button">
         <i class="pi pi-user"></i>
         <span>Mi perfil</span>
      </button>
      <button class="p-link layout-topbar-button" (click)="cerrarSesion()">
         <i class="pi pi-sign-out"></i>
         <span>Cerrar Sesión</span>
      </button>
   </div>
</div>
