<style>
   .items-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
   }
   .img-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
   }
   img {
      width: 150px;
   }
</style>

<div class="items-container">
   <ul class="layout-menu">
      <ng-container *ngFor="let item of model; let i = index">
         <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
         <li *ngIf="item.separator" class="menu-separator"></li>
      </ng-container>
   </ul>

   <div class="img-container">
      <!-- <img src="../../assets/layout/images/Isotipo Degradado (4) (1).png" /> -->
   </div>
</div>
