<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
      <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-inusual-dark' : 'logo-inusual-white'}}.png" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">
      <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, rgba(247, 149, 48, 0.4) 10%, rgba(247, 149, 48, 0) 30%);">
        <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
            <div class="text-center mb-5">
              <div class="text-900 text-3xl font-medium mb-3"></div>
              <span class="text-600 font-medium">Introduce tu Nueva Contraseña</span>
            </div>
            <div>
              <form #f="ngForm" (ngSubmit)="onChangePassword()" novalidate>
                <label for="password" class="block text-900 text-xl font-medium mb-2">Nueva Contraseña</label>
                <p-password id="password" [(ngModel)]="password" placeholder="Contraseña" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem" required></p-password>
                <p-toast></p-toast>

                <label for="confirmPassword" class="block text-900 font-medium text-xl mb-2 gap-5">Confirmar Contraseña</label>
                <p-password [feedback]="false" id="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Contraseña" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem" required></p-password>

                <div class="flex align-items-center justify-content-between mb-2 gap-5">

                </div>

                <button type="submit" [disabled]="!f.valid" pButton pRipple label="Cambiar Contraseña" class="w-full p-3 text-xl"></button>
              </form>
            </div>
          </div>
      </div>
  </div>
</div>


