<div class="grid fluid">
   <div class="col-12">
      <div class="card">
         <div *ngIf="reportUrl">
            <!-- <iframe [src]="reportUrl" frameborder="0" width="100%" height="800"></iframe> -->
            <!-- <iframe _ngcontent-mlx-c59="" frameborder="0" width="100%" height="800" [src]="reportUrl" crossorigin="anonymous" target="_parent" title="Power BI Dashboard"></iframe> -->
            <iframe _ngcontent-mlx-c59="" frameborder="0" width="100%" height="800" [src]="reportUrl" target="_parent" title="Power BI Dashboard"></iframe>
         </div>
      </div>
   </div>
</div>
