<div class="container">
  <h1 class="title">Gestión Digital</h1>
  <h2 class="subtitle">¡Bienvenido/a de nuevo!</h2>
  <p>Estamos encantados de verte de vuelta en nuestra plataforma. Aquí encontrarás todo lo que necesitas para consultar y analizar
     tus tableros de marketing y business intelligence de manera eficiente y efectiva.</p>
  <div class="row">
    <div class="col-md-6">
      <p-card header="Análisis inteligente para el éxito" subheader="Toma decisiones informadas y optimiza tus estrategias" >
        <ng-template pTemplate="header">
            <img alt="Card" height="200" src="..\..\assets\layout\images\business-intelligence.jpg" />
        </ng-template>
        <p style="text-align: justify;">
          Combinamos el análisis de marketing y el business inteligence para impulsar tu empresa.
           Obtén información valiosa, visualiza tus datos y toma decisiones informadas para optimizar estrategias poderosas.
           Maximiza el potencial de tu negocio y alcanza el éxito empresarial.
        </p>
      </p-card>
    </div>
    <div class="col-md-6">
      <p-card header="Integraciones poderosas" subheader="Conecta y potencia tus herramientas favoritas" >
        <ng-template pTemplate="header">
            <img alt="Card" height="200" src="..\..\assets\layout\images\herramientas-bi.jpeg" />
        </ng-template>
        <p style="text-align: justify;">
          Descubre una plataforma que se integra sin problemas con tus herramientas de análisis preferidas.
           Desde Power BI y Tableau hasta Google Analytics y Facebook Insights, te ofrecemos la flexibilidad para conectar y
           aprovechar al máximo tus aplicaciones de confianza.
        </p>
      </p-card>
    </div>
  </div>
  <h2 class="subtitle" style="text-align: center;">Toma acción y comienza hoy a construir el futuro que deseas</h2>
  <h3>Confía en tu visión, mantén la determinación y prepárate para conquistar nuevos horizontes en el emocionante camino hacia el éxito empresarial.</h3>
  <p>Estamos aquí para ayudarte en cada paso del camino. Si tienes alguna pregunta o necesitas asistencia, nuestro equipo de soporte estará encantado de ayudarte.
    Estamos comprometidos a brindarte el mejor servicio y experiencia posible.</p>
</div>
